# Part 3

## [13 points] 

### Compute the possible sentiments that a tweet may have, the second most popular sentiment in the tweets, and the date with the greatest number of extremely positive tweets.

In [1]:
# Part 3: Mining text data.

# Return a pandas dataframe containing the data set.
# Specify a 'latin-1' encoding when reading the data.
# data_file will be populated with the string 'wholesale_customers.csv'.

import numpy as np
import pandas as pd

def read_csv_3(data_file):
    data_file = pd.read_csv(data_file, encoding ='latin1')
    return data_file

In [2]:
df = read_csv_3('coronavirus_tweets.csv')
df

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...,Neutral
1,3800,48752,UK,16-03-2020,advice Talk to your neighbours family to excha...,Positive
2,3801,48753,Vagabonds,16-03-2020,Coronavirus Australia: Woolworths to give elde...,Positive
3,3802,48754,NaN,16-03-2020,My food stock is not the only one which is emp...,Positive
4,3803,48755,NaN,16-03-2020,"Me, ready to go at supermarket during the #COV...",Extremely Negative
...,...,...,...,...,...,...
41152,44951,89903,"Wellington City, New Zealand",14-04-2020,Airline pilots offering to stock supermarket s...,Neutral
41153,44952,89904,NaN,14-04-2020,Response to complaint not provided citing COVI...,Extremely Negative
41154,44953,89905,NaN,14-04-2020,You know itÂs getting tough when @KameronWild...,Positive
41155,44954,89906,NaN,14-04-2020,Is it wrong that the smell of hand sanitizer i...,Neutral
41156,44955,89907,i love you so much || he/him,14-04-2020,@TartiiCat Well new/used Rift S are going for ...,Negative

In [3]:
# Return a list with the possible sentiments that a tweet might have.
def get_sentiments(df):
    arr = df["Sentiment"].to_numpy()
    unique_arr = np.unique(arr)
    return list(unique_arr)

In [4]:
get_sentiments(df)

['Extremely Negative', 'Extremely Positive', 'Negative', 'Neutral', 'Positive']

In [5]:
# Return a string containing the second most popular sentiment among the tweets.
def second_most_popular_sentiment(df):
    most = df['Sentiment'].value_counts()[1:2]
    return (most.index)[0]

In [6]:
second_most_popular_sentiment(df)

'Negative'

In [7]:
# Return the date (string as it appears in the data) with the greatest number of extremely positive tweets.
def date_most_popular_tweets(df):
    dates = df.loc[df['Sentiment'] == 'Extremely Positive']
    dates_list = dates["TweetAt"].value_counts()
    return dates_list.index[0]

In [8]:
date_most_popular_tweets(df)

'25-03-2020'

### Next, convert the messages to lower case, replace non-alphabetical characters with whitespaces and ensure that the words of a message are separated by a single whitespace.

In [9]:
# Modify the dataframe df by converting all tweets to lower case. 
def lower_case(df):
    df['OriginalTweet'] = df['OriginalTweet'].str.lower()

In [10]:
lower_case(df)
df

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,@menyrbie @phil_gahan @chrisitv https://t.co/i...,Neutral
1,3800,48752,UK,16-03-2020,advice talk to your neighbours family to excha...,Positive
2,3801,48753,Vagabonds,16-03-2020,coronavirus australia: woolworths to give elde...,Positive
3,3802,48754,NaN,16-03-2020,my food stock is not the only one which is emp...,Positive
4,3803,48755,NaN,16-03-2020,"me, ready to go at supermarket during the #cov...",Extremely Negative
...,...,...,...,...,...,...
41152,44951,89903,"Wellington City, New Zealand",14-04-2020,airline pilots offering to stock supermarket s...,Neutral
41153,44952,89904,NaN,14-04-2020,response to complaint not provided citing covi...,Extremely Negative
41154,44953,89905,NaN,14-04-2020,you know itâs getting tough when @kameronwild...,Positive
41155,44954,89906,NaN,14-04-2020,is it wrong that the smell of hand sanitizer i...,Neutral
41156,44955,89907,i love you so much || he/him,14-04-2020,@tartiicat well new/used rift s are going for ...,Negative

In [11]:
# Modify the dataframe df by replacing each characters which is not alphabetic or whitespace with a whitespace.
def remove_non_alphabetic_chars(df):
    df['OriginalTweet'] = df['OriginalTweet'].str.replace('[^a-zA_Z]', ' ', regex=True)

In [12]:
remove_non_alphabetic_chars(df)
df

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,menyrbie phil_gahan chrisitv https t co i...,Neutral
1,3800,48752,UK,16-03-2020,advice talk to your neighbours family to excha...,Positive
2,3801,48753,Vagabonds,16-03-2020,coronavirus australia woolworths to give elde...,Positive
3,3802,48754,NaN,16-03-2020,my food stock is not the only one which is emp...,Positive
4,3803,48755,NaN,16-03-2020,me ready to go at supermarket during the cov...,Extremely Negative
...,...,...,...,...,...,...
41152,44951,89903,"Wellington City, New Zealand",14-04-2020,airline pilots offering to stock supermarket s...,Neutral
41153,44952,89904,NaN,14-04-2020,response to complaint not provided citing covi...,Extremely Negative
41154,44953,89905,NaN,14-04-2020,you know it s getting tough when kameronwild...,Positive
41155,44954,89906,NaN,14-04-2020,is it wrong that the smell of hand sanitizer i...,Neutral
41156,44955,89907,i love you so much || he/him,14-04-2020,tartiicat well new used rift s are going for ...,Negative

In [13]:
# Modify the dataframe df with tweets after removing characters which are not alphabetic or whitespaces.
def remove_multiple_consecutive_whitespaces(df):
    #df['OriginalTweet'] = df['OriginalTweet'].replace('\s+', ' ', regex=True)
    df['OriginalTweet'] = df['OriginalTweet'].str.strip()

In [14]:
remove_multiple_consecutive_whitespaces(df)
df

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,menyrbie phil_gahan chrisitv https t co if...,Neutral
1,3800,48752,UK,16-03-2020,advice talk to your neighbours family to excha...,Positive
2,3801,48753,Vagabonds,16-03-2020,coronavirus australia woolworths to give elde...,Positive
3,3802,48754,NaN,16-03-2020,my food stock is not the only one which is emp...,Positive
4,3803,48755,NaN,16-03-2020,me ready to go at supermarket during the cov...,Extremely Negative
...,...,...,...,...,...,...
41152,44951,89903,"Wellington City, New Zealand",14-04-2020,airline pilots offering to stock supermarket s...,Neutral
41153,44952,89904,NaN,14-04-2020,response to complaint not provided citing covi...,Extremely Negative
41154,44953,89905,NaN,14-04-2020,you know it s getting tough when kameronwild...,Positive
41155,44954,89906,NaN,14-04-2020,is it wrong that the smell of hand sanitizer i...,Neutral
41156,44955,89907,i love you so much || he/him,14-04-2020,tartiicat well new used rift s are going for ...,Negative

## [14 points] 

### Tokenize the tweets (i.e. convert each into a list of words), count the total number of all words (including repetitions), the number of all distinct words and the 10 most frequent words in the corpus. Remove stop words, words with ≤ 2 characters, and reduce each word to its stem. You are now able to recompute the 10 most frequent words in the modified corpus. What do you observe?

In [15]:
# Given a dataframe where each tweet is one string with words separated by single whitespaces,
# tokenize every tweet by converting it into a list of words (strings).
def tokenize(df):
    df['OriginalTweet'] = df['OriginalTweet'].str.split()

In [16]:
tokenize(df)
tdf = df.copy()
tdf

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,"[menyrbie, phil_gahan, chrisitv, https, t, co,...",Neutral
1,3800,48752,UK,16-03-2020,"[advice, talk, to, your, neighbours, family, t...",Positive
2,3801,48753,Vagabonds,16-03-2020,"[coronavirus, australia, woolworths, to, give,...",Positive
3,3802,48754,NaN,16-03-2020,"[my, food, stock, is, not, the, only, one, whi...",Positive
4,3803,48755,NaN,16-03-2020,"[me, ready, to, go, at, supermarket, during, t...",Extremely Negative
...,...,...,...,...,...,...
41152,44951,89903,"Wellington City, New Zealand",14-04-2020,"[airline, pilots, offering, to, stock, superma...",Neutral
41153,44952,89904,NaN,14-04-2020,"[response, to, complaint, not, provided, citin...",Extremely Negative
41154,44953,89905,NaN,14-04-2020,"[you, know, it, s, getting, tough, when, kamer...",Positive
41155,44954,89906,NaN,14-04-2020,"[is, it, wrong, that, the, smell, of, hand, sa...",Neutral
41156,44955,89907,i love you so much || he/him,14-04-2020,"[tartiicat, well, new, used, rift, s, are, goi...",Negative

In [17]:
# Given dataframe tdf with the tweets tokenized, 
# return the number of words in all tweets including repetitions.

def count_words_with_repetitions(tdf): 
    all_words = 0
    all_words = all_words + tdf['OriginalTweet'].apply(lambda x: len(x))
    return all_words.sum()

count_words_with_repetitions(tdf)

1349274

In [18]:
# Given dataframe tdf with the tweets tokenized, 
# return the number of distinct words in all tweets.
def count_words_without_repetitions(tdf):
    all_words = tdf.explode('OriginalTweet')
    all_words_list = list(all_words['OriginalTweet'])
    all_words_no_rep = set(all_words_list)
    return len(all_words_no_rep)

count_words_without_repetitions(tdf)

80544

In [19]:
# Given dataframe tdf with the tweets tokenized, 
# return a list with the k distinct words that are most frequent in the tweets.

from collections import Counter

def frequent_words(tdf,k):
    all_words = tdf.explode('OriginalTweet')
    all_words_list = list(all_words['OriginalTweet'])
    freq_words = Counter(all_words_list).most_common(k)
    output = [c[0] for c in freq_words]
    return output
    
frequent_words(tdf,10)

['the', 'to', 't', 'co', 'and', 'https', 'of', 'a', 'covid', 'in']

In [20]:
# Given dataframe tdf with the tweets tokenized, remove stop words and words with <=2 characters from each tweet.
# The function should download the list of stop words via:
# https://raw.githubusercontent.com/fozziethebeat/S-Space/master/data/english-stop-words-large.txt

import csv

def remove_stop_words(tdf):
    stop_words = pd.read_csv('https://raw.githubusercontent.com/fozziethebeat/S-Space/master/data/english-stop-words-large.txt',
                     sep = " ", header = None, names = ['list'], quoting = csv.QUOTE_NONE, encoding = 'utf-8')
    
    for index,row in tdf['OriginalTweet'].items():
        tdf.at[index,'OriginalTweet'] = [x for x in row if (x not in stop_words) and len(x) > 2]

In [21]:
#remove_stop_words(tdf)
tdf.at[0,'OriginalTweet'] # where index can be any number

['menyrbie',
 'phil_gahan',
 'chrisitv',
 'https',
 't',
 'co',
 'ifz',
 'fan',
 'pa',
 'and',
 'https',
 't',
 'co',
 'xx',
 'ghgfzcc',
 'and',
 'https',
 't',
 'co',
 'i',
 'nlzdxno']

In [22]:
# Given dataframe tdf with the tweets tokenized, reduce each word in every tweet to its stem.

from nltk.stem.porter import PorterStemmer
# Use English stemmer.
stemmer = PorterStemmer()

def stemming(tdf):
    tdf['OriginalTweet'] = tdf['OriginalTweet'].apply(lambda x: [stemmer.stem(y) for y in x]) # Stem every word.## [13 points]

### This task can be done individually from the previous three. Store the coronavirus tweets.py corpus in a numpy array and produce a sparse representation of the termdocument matrix with a CountVectorizer. 

### Next, produce a Multinomial Naive Bayes classifier using the provided data set. What is the classifier’s training accuracy? A CountVectorizer allows limiting the range of frequencies and number of words included in the term-document matrix. Appropriately tune these parameters to achieve the highest classification accuracy you can.

In [23]:
stemming(tdf)
tdf

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,"[menyrbi, phil_gahan, chrisitv, http, t, co, i...",Neutral
1,3800,48752,UK,16-03-2020,"[advic, talk, to, your, neighbour, famili, to,...",Positive
2,3801,48753,Vagabonds,16-03-2020,"[coronaviru, australia, woolworth, to, give, e...",Positive
3,3802,48754,NaN,16-03-2020,"[my, food, stock, is, not, the, onli, one, whi...",Positive
4,3803,48755,NaN,16-03-2020,"[me, readi, to, go, at, supermarket, dure, the...",Extremely Negative
...,...,...,...,...,...,...
41152,44951,89903,"Wellington City, New Zealand",14-04-2020,"[airlin, pilot, offer, to, stock, supermarket,...",Neutral
41153,44952,89904,NaN,14-04-2020,"[respons, to, complaint, not, provid, cite, co...",Extremely Negative
41154,44953,89905,NaN,14-04-2020,"[you, know, it, s, get, tough, when, kameronwi...",Positive
41155,44954,89906,NaN,14-04-2020,"[is, it, wrong, that, the, smell, of, hand, sa...",Neutral
41156,44955,89907,i love you so much || he/him,14-04-2020,"[tartiicat, well, new, use, rift, s, are, go, ...",Negative

In [24]:
tdf.at[0,'OriginalTweet']

['menyrbi',
 'phil_gahan',
 'chrisitv',
 'http',
 't',
 'co',
 'ifz',
 'fan',
 'pa',
 'and',
 'http',
 't',
 'co',
 'xx',
 'ghgfzcc',
 'and',
 'http',
 't',
 'co',
 'i',
 'nlzdxno']

## [13 points]

### This task can be done individually from the previous three. Store the coronavirus tweets.py corpus in a numpy array and produce a sparse representation of the termdocument matrix with a CountVectorizer. 

### Next, produce a Multinomial Naive Bayes classifier using the provided data set. What is the classifier’s training accuracy? A CountVectorizer allows limiting the range of frequencies and number of words included in the term-document matrix. Appropriately tune these parameters to achieve the highest classification accuracy you can.

In [25]:
train_size = int(len(df) * 0.8)
test_size = len(df) - train_size
#train, test = df['OriginalTweet'].values.iloc[0:train_size], df['OriginalTweet'].values.iloc[train_size:len(df['OriginalTweet'].values)]

In [26]:
# Given a pandas dataframe df with the original coronavirus_tweets.csv data set,
# build a Multinomial Naive Bayes classifier. 
# Return predicted sentiments (e.g. 'Neutral', 'Positive') for the training set
# as a 1d array (numpy.ndarray). 

# 1. import and instantiate CountVectorizer (with the default parameters)
from sklearn.feature_extraction.text import CountVectorizer
    
def mnb_predict(df):
    # 2. instantiate CountVectorizer (vectorizer)
    vect = CountVectorizer()
    # 3. fit
    # learn the 'vocabulary' of the training data (occurs in-place)
    simple_train = df['OriginalTweet'].values
    vect.fit(simple_train)
    #print(vect.get_feature_names())
    # 4. transform training data into a 'term document matrix'
    simple_train_dtm = vect.transform(simple_train)
    print(type(simple_train_dtm), '- type of the term document matrix')
    
    s
    return simple_train_dtm

df = read_csv_3('coronavirus_tweets.csv')
mnb_predict(df)

<class 'scipy.sparse.csr.csr_matrix'> - type of the term document matrix

NameError: name 's' is not defined

In [ ]:
# Given a 1d array (numpy.ndarray) y_pred with predicted labels (e.g. 'Neutral', 'Positive') 
# by a classifier and another 1d array y_true with the true labels, 
# return the classification accuracy rounded in the 3rd decimal digit.
def mnb_accuracy(y_pred,y_true):
	pass